# Prerequisites
CameraWatcher/*.d

# Compiled Object files
CameraWatcher/*.slo
CameraWatcher/*.lo
CameraWatcher/*.o
CameraWatcher/*.obj

# Precompiled Headers
CameraWatcher/*.gch
CameraWatcher/*.pch

# Compiled Dynamic libraries
CameraWatcher/*.so
CameraWatcher/*.dylib
CameraWatcher/*.dll

# Fortran module files
CameraWatcher/*.mod
CameraWatcher/*.smod

# Compiled Static libraries
CameraWatcher/*.lai
CameraWatcher/*.la
CameraWatcher/*.a
CameraWatcher/*.lib

# Executables
CameraWatcher/*.exe
CameraWatcher/*.out
CameraWatcher/*.app

# Visual Studio 2019
CameraWatcher/.vs/*
CameraWatcher/x64/*
CameraWatcher/CameraWatcher/x64/*
